@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-15rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(15rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(-100rem);
  }

  100% {
    transform: translateX(0rem);
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(0rem);
  }

  100% {
    transform: translateX(-100rem);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.06);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulseTopBtn {
  0% {
    transform: scale(1) rotate(180deg);
  }
  70% {
    transform: scale(1.06) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(180deg);
  }
}
